export REDIS_HOST="redis_host_url"
export REDIS_PORT="1234"
export REDIS_DB="your-redis-database-name"
export REDIS_PASSWORD="redis-db-password"
export REDIS_USERNAME="your-redis-username"
export REDIS_INDEX_TYPE="redis_index_type"
export DATA_LOCATION="path_to_data_folder"